body {
    margin: 0px;
    background-color: rgba(180, 170, 170, 0.15);
}

.header {
    background-color: #316DC3;
    margin-top: 0px;
    text-align: center;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon img {
    width: 16px;
    margin-right: 15px;
}

.line {
    display: inline-block;
    vertical-align: middle;
    margin-right: 80px;
    margin-left: 100px;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.buttons {
    display: inline-block;
    vertical-align: middle;
}

.buttons button {
    margin-left: 10px;
    color: green;
    font-size: 11px;
    padding: 5px 10px;
    font-weight: 100px;
    border: 1px solid black;
}


/* second header div */

.nav {
    background-color: #fff;
    color: #fff;
    text-align: center;
}

.menu-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 300px;
}

.menu-img img {
    width: 200px;
}

.menu-bar {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.menu-bar ul li:hover {
    background-color: #316DC3;
    transition: 0.9s;
}

.menu-bar ul li a:hover {
    color: white;
    font-style: italic;
    transition: 0.9s;
}

.menu-bar ul {
    list-style: none;
    display: inline-flex;
    text-align: left;
}

.menu-bar ul li {
    margin: 0px;
    padding: 10px 10px;
    border-radius: 30px;
}

.sub-menu {
    display: none;
    width: 240px;
}

.sub-menu ul {
    padding-inline-start: 0px;
}

.menu-bar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background: #fff;
    margin-left: -20px;
    margin-top: 10px;
}

.menu-bar ul li:hover .sub-menu ul {
    display: block;
    margin: 10px;
}

.child-menu {
    display: none;
    width: 220px;
}

.sub-menu ul li:hover .child-menu {
    display: block;
    position: absolute;
    background-color: #fff;
    margin-top: -40px;
    margin-left: 200px;
}
.childchild-menu {
    display: none;
    width: 240px
}

.child-menu ul li:hover .childchild-menu {
    display: block;
    position: absolute;
    background-color: #fff;
    margin-top: -35px;
    margin-left: 170px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
}
        /* slider css  start */
        * {box-sizing: border-box}
        body {font-family: Verdana, sans-serif; margin:0}
        .mySlides {
            display: none
            
    }
    .slideshow-container img {vertical-align: middle;height:400px;}
        
        /* Slideshow container */
        .slideshow-container {
          width: 100%;
      
          margin: auto;
        }
        
        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        
        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }
        
        /* Caption text */
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }
      
        
        /* The dots/bullets/indicators */
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        
        .active, .dot:hover {
          background-color: #717171;
        }
        
        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }
        
        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }
        
        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }
        
        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .prev, .next,.text {font-size: 11px}
        }
        /* slider css  end */


.moving {
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #316DC3;
    font-size: 20px;
    color: white;
}

.details {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: gray;
    text-align: center;
}

.details p {
    text-align: justify;
}

.figures {
    background-color: rgba(36, 79, 242, 1);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.figuresbox {
    display: inline-block;
    color: aliceblue;
    margin-left: 40px;
}

.figuresbox img {
    width: 40px;
}

.figureheadfont {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.figurefont {
    font-size: 20px;
}

.figurefontlarge {
    font-size: 30px;
    color: #00FF00;
}

.doing {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
}

.pic {
    width: 300px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    color: blue;
    background-color: white;
}

.pic img {
    width: 50px;
}

.gridtable {
    display: grid;
    grid-template-columns: auto auto auto;
}

.mispic {
    background-color: white;
    margin-top: 50px;
    padding-bottom: 150px;
}

.missionevent {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    color: blue;
}

.missionpicture {
    border: 1px solid rgba(5, 5, 5, .1);
    margin: 10px;
    display: inline-block;
    width: 350px;
    padding: 20px;
    font-weight: 600;
    background-color: rgba(180, 170, 170, 0.15);
    ;
}

.missionpicture img {
    margin-right: 20px;
    vertical-align: middle;
}

.events div {
    margin-top: 40px;
}

#gallery {
    text-align: center;
    font-size: 20px;
}

.gallerypic img {
    width: 220px;
}

.gallpic {
    display: inline-block;
}

footer {
    background-color: rgba(34, 34, 34, 0.8);
}

.footer {
    width: 1110px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

footer ul {
    list-style: none;
    line-height: 25px;
}


.copy{
    background-color: #316DC3;
    padding-top: 5px;
    padding-bottom: 5px; 
     color: white;
}
.copysub {
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  
}
@media only screen and (max-width: 768px) {
.icon{display: block;}
.line{display: block;}
.buttons{display: block;}
.menu-img{display: block;}
.menu-bar{display: block;}
.moving{width: 100%;}
.details{width: 100%;
margin-left: 5px;
margin-right: 5px;
font-size: 10px;}
.figuresbox{
    display: block;
    width: 100%;
}
.gridtable {
    display: grid;
    grid-template-columns: auto auto;
}
.missionevent {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

  }